---
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';
import StructuredData from '../components/StructuredData.astro';
import BlogLayout from '../layouts/BlogLayout.astro';
import { sortPostsByDate } from '../utils';
import { generateImgxUrl } from '../utils/imgxUtils';

// Get all posts and sort by date
const allPosts = await getCollection('posts');
const posts = sortPostsByDate(allPosts);

// Limit to first 12 posts for homepage
const featuredPosts = posts.slice(0, 12);

const title = 'Iván Gabriel';
const description =
  'Diario de un Informático, Emprendedor, Desarrollador y Curioso a tiempo completo.';
const imagePhoto = generateImgxUrl('/photos/personal_image_ia.png', 300, 300);
//const imagePhoto = '/photos/personal_image_ia.png';
---

<BlogLayout title={title} description={description}>
  <div class="px-2">
    <div class="hero bg-base-200 py-4">
      <div class="hero-content flex-col lg:flex-row">
        <img
          src={imagePhoto}
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <div class="max-w-md">
          <p class="py-6">
            Soy Iván Gabriel, desarrollador y emprendedor con más de 15 años en tecnología.
            He trabajado en proyectos internacionales para medios, fintech y startups, liderando equipos y creando soluciones con IA, integraciones y plataformas web.
            En este espacio comparto mi portafolio, publicaciones y reflexiones.
          </p>
          <a href="/content/sobre-el-autor" class="btn btn-primary">Conoce más sobre mí</a>
        </div>
      </div>
    </div>

    <h2 class="text-4xl font-bold text-center my-8">
      Últimas Publicaciones
    </h2>

    <div class="mx-auto py-3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {featuredPosts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>

    <div class="text-center my-8">
      <a href="/posts/page/2" class="btn btn-primary btn-lg">
        Ver más...
      </a>
    </div>
  </div>

  <!-- Structured Data -->
  <StructuredData type="organization" />
  <StructuredData type="person" />
  <StructuredData type="website" />
</BlogLayout>
