@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
};

p {
    @apply mb-5 leading-7;
}

h2, h3, h4, h5 {
    @apply font-bold mt-4 mx-0 mb-1;
}
h2 {
    @apply text-xl text-secondary mt-2;
}

h3 {
    @apply text-secondary text-lg;
}

h4 {
  @apply text-secondary;
}

strong {
  @apply text-accent;
}

ul {
    list-style: square;
}

ol, ul {
    @apply mx-auto my-auto py-2 px-8;
}

p > img {
    @apply mx-auto max-w-full px-2 py-1
}

.article-content a {
  @apply text-accent;
}

.article-content code {
  @apply bg-black text-emerald-400;
  @apply p-3 block border border-accent border-spacing-x-1.5 rounded-sm bg-blend-darken mb-1 font-sans text-xs;
}

a:hover {
  @apply underline;
}
